<% if !@pending_invitations.empty? %>
  <h1>Pending Group Invitations</h1>

<ul class="space-above list-hrs">
  <% @pending_invitations.each do |invite| %>
    <li>
      <%= link_to invite.group.name, group_path(invite.group) %>
      <%= link_to '<i class="fa fa-check"></i> Accept'.html_safe, member_accept_path(invite), class: 'btn btn-success btn-sm pull-right' %>
      <%= link_to '<i class="fa fa-times"></i> Reject'.html_safe, member_reject_path(invite), class: 'btn btn-danger btn-sm pull-right space-right' %>
    </li>
  <% end %>
</ul>
<% end %>

<h1>Your Groups

  <a href="<%= new_group_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New Group <i class="fa fa-users"></i></a>
</h1>

<ul>
  <% if @groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end.empty? %>
    <p>You do not belong to any lists yet.</p>
  <% end %>
</ul>

<h1>Your Lists
  <a href="<%= new_list_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New List <i class="fa fa-gift"></i></a>
</h1>

<ul>
  <% if @own_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end.empty? %>
    <p>You have not created any lists yet.</p>
  <% end %>
</ul>


<h1>Your friend's and family's wish lists</h1>

<ul>
  <% if @other_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end.empty? %>
    <p>Nobody has shared any lists with you.</p>
  <% end %>
</ul>
