<%= bootstrap_form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</strong>
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.date_field :date, label: 'Deadline date' %>

  <div class="form-group">
    <label class="control-label">Share this list with:</label>
    <% if current_user.groups.each do |g| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="groups[]" <% if @list.groups.include?(g) %>checked<% end %> value="<%= g.id %>">
          <%= g.name %>
        </label>
      </div>
    <% end.empty? %>
    <p>No groups available. Please create a <%= link_to 'new group', new_group_path %> first.</p>
    <% end %>
  </div>

  <%= c("wish-list-items_edit", f: f) %>

  <%= f.submit nil, class: 'btn btn-block btn-success' %>

<% end %>
