<h1><%= @list.name %>
<% if @list.creator?(current_user) %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_list_path(@list), class: 'btn btn-info pull-right' %>
<%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, @list, method: :delete, class: 'btn btn-danger pull-right space-right' %>
<% end %>
</h1>

<p><strong>Creators: </strong> <%= @list.users.pluck(:email).to_sentence %></p>

<p><%= @list.description %></p>

<p><strong>Deadline: </strong><%= @list.date %></p>

<p><strong>Shared with: </strong></p>
<ul>
  <% @list.groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>

<h2>Items</h2>
<ul class="list-hrs space-above">
  <% @list.visible_items(current_user).each do |it| %>
  <li>
    <%= it.name %>: <%= it.description %>
    <% if it.can_pick(current_user) %>
      <a class="btn btn-sm btn-success pull-right" href="<%= pick_path(it) %>">Pick</a>
    <% elsif it.can_release(current_user) %>
      <a class="btn btn-sm btn-warning pull-right" href="<%= release_path(it) %>">Release</a>
    <% end %>
  </li>
  <% end %>
</ul>
