<h1><%= @list.name %>
<% if @list.creator?(current_user) %>
<%= link_to '<i class="fa fa-pencil-alt"></i> Edit'.html_safe, edit_list_path(@list), class: 'btn btn-info pull-right' %>
<%= link_to '<i class="fa fa-trash-alt"></i> Delete'.html_safe, @list, method: :delete, class: 'btn btn-danger pull-right space-right' %>
<% end %>
</h1>

<p><strong>Creators: </strong> <%= @list.users.pluck(:email).to_sentence %></p>

<p><%= @list.description %></p>

<p><strong>Deadline: </strong><%= @list.date %></p>

<p><strong>Shared with: </strong></p>
<ul>
  <% @list.groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>


<%= c("wish-list-items", items: @list.visible_items(current_user)) %>