<%= bootstrap_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</strong>
      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.text_field :name %>
  <%= f.check_box :public %>

  <label class="control-label">Existing members</label>
  <ul>
    <% if @group.members.each do |m| %>
      <li><%= m.name %> (<%= m.status %>)</li>
    <% end.empty? %>
      <p>No existing members. </p>
    <% end %>
  </ul>

  <div class="form-group">
    <label class="control-label">Invite new users</label>
    <p class="help-block">Add the e-mail address of all of the users that should be
      included in this group. They will then receive an invitation to the group.</p>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <button id="more-email-fields" class="btn btn-info"><i class="fas fa-plus"></i> Add more fields</button>
  </div>

  <%= f.submit nil, class: 'btn btn-block btn-success' %>
<% end %>

<script>
  $(document).ready(function() {
    $('#more-email-fields').click(function(ev) {
      ev.preventDefault();
      text = '<input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>';
      $(this).before(new Array(6).join(text));
    });
  });
</script>
