<%= bootstrap_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.text_field :name %>
  <%= f.check_box :public %>

  <div class="form-group">
  <label class="control-label">Users:</label>
    <p class="help-block">Add the e-mail address of all of the users that should be
      included in this group. They will then receive an invitation to the group.</p>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
    <input type="text" class="form-control space-below" placeholder="E-mail" name="users[]"></input>
  </div>

  <%= f.submit %>
<% end %>
