<h1><%= @group.name %><% if @group.public %> (public)<% end %></h1>

<h2>Group Members</h2>

<ul>
  <% @group.members.each do |m| %>
  <li><%= m.name %> (<%= m.status %>)</li>
  <% end %>
</ul>

<h2>Group Lists</h2>
<ul>
  <% @group.lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
