<h1><%= @group.name %><% if @group.public %> (public)<% end %>
  <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_group_path(@group), class: 'btn btn-info pull-right' %>
  <%= link_to '<i class="fa fa-sign-out"></i> Leave'.html_safe, leave_group_path(@group), class: 'btn btn-danger pull-right space-right' %>
</h1>

<h2>Group Members</h2>

<ul>
  <% @group.members.each do |m| %>
  <li><%= m.name %> (<%= m.status %>)</li>
  <% end %>
</ul>

<h2>Group Lists</h2>
<ul>
  <% @group.lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end %>
</ul>
