<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list %>
</p>

<p>
  <strong>Claimed on:</strong>
  <%= @item.claimed_on %>
</p>

<p>
  <strong>Claimed by:</strong>
  <%= @item.claimed_by %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
